body{
    background-color:#010001;
    display: flex;

}
.block{
    border-radius: 10px;
    background-color: rgb(231, 220, 238);
    padding:15px;
    margin:10em;
}

.block2{
    border-radius: 10px;
    background-color:rgb(44, 79, 154);
    padding: 20px;
    margin:10em;
    position: relative;
}
.price{
    color: gray;
    text-decoration: line-through;
}
.price3{
    color:gray;
    text-decoration: line-through;
}
.sale{
    position:absolute;
    top:-20px;
    left:-20px;
}
.sumochka{
    position:absolute;
    border-top-right-radius: 10px;
    padding:20px;
    background-color: rgb(4, 4, 3);
    left:160px;
    top:600px;
}

.sumochka2{
    position:absolute;
    border-top-right-radius: 10px;
    padding:20px;
    background-color: rgb(4, 4, 3);
    left:-1px;
    top:430px;
}
.price{
    display: flex;
    justify-content: end;
    font-size: small;
    margin-top: 50px;
}
.price2{
    display: flex;
    justify-content: end;
    font-size:xx-large;
    margin-top: -40px;
}

.price3{
    display: flex;
    justify-content: end;
    font-size: small;
    margin-top: 50px;
}
.price4{
    display: flex;
    justify-content: end;
    font-size:xx-large;
    margin-top: -40px;
}
.info{
    font-size:x-large;
    width: 250px;
}
.Egor{
    font-size: medium;
}
.info2{
    font-size:x-large;
    width: 250px;
}
.Timati{
    font-size: medium;
}